/* src/assets/styles/themes.less */

/* Light Theme */
.light-theme {
  --primary-color: #ffffff;
  --secondary-color: #f8f9fa;
  --text-color: #000000;

  body {
    background-color: var(--primary-color);
    color: var(--text-color);
  }
}

/* Dark Theme */
.dark-theme {
  --primary-color: #000000;
  --secondary-color: #343a40;
  --text-color: #ffffff;

  body {
    background-color: var(--primary-color);
    color: var(--text-color);
  }
}
